.calendar-tile.disabled {
    color: black;
    pointer-events: none;
  }
.custom-cal{
    width: 300px;
    border-radius: .25rem;
    margin: 1rem;
    border:none;
  }
  .color-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.color-red .color-circle {
        background-color: red;
    }
.color-blue .color-circle {
        background-color: blue;
    }
    .color-green .color-circle {
        background-color: green;
    }
    .color-yellow .color-circle {
        background-color: yellow;
    }
    .color-purple .color-circle {
        background-color: purple;
    }
    .color-orange .color-circle {
        background-color: orange;
    }


