.App {
  text-align: center;
  background-color: #61dafb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #c0a58e;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'MyCustomFont';
  src: url('./Media/Magic\ Retro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fbf8f8 !important; 
  font-weight: 500;
}
.ant-tabs-ink-bar {
  position: absolute;
  background: #fbf8f8 !important;
  pointer-events: none;
}

@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Fascinate&family=Permanent+Marker&family=Rouge+Script&family=Satisfy&family=Shrikhand&display=swap');

.test-font-1{
  font-family: 'Permanent Marker', cursive;
  font-size: 2.5rem;
  padding: .5rem;
}
.test-font-2{
  font-family: 'Fascinate', cursive;
  font-size: 2.5rem;
  padding: .5rem;
}
.left-shadow {
  box-shadow: -2px 2px 8px rgba(0, 0, 0, 0.25);
}
.ant-carousel .slick-dots li button {
  background: #c0a58e;
  opacity: 0.4;
}

.ant-carousel .slick-dots li.slick-active button {
  opacity: 1;
  background: #c0a58e;
}
